<header>
  <div
    class="col-10 row offset-1 d-flex justify-content-between align-items-center header-block"
  >
    <div class="header-text-block col-md-9 col-12">
      <nav>
        <a class="header-text header-link btn-link cursor-pointer mr-7rem" href='/summary'
          >ГОЛОВНА</a
        >
        <a class="header-text header-link btn-link cursor-pointer mr-7rem" href='/blog'
          >БЛОГ</a
        >
        <a class="header-text header-link btn-link cursor-pointer" href='/authors'>АВТОРИ</a>
      </nav>
    </div>
    <div class="col-md-3 col-12 image-block">
      <img
        class="header-image"
        src="./assets/movile_app.svg"
        alt="Щось пішло не так"
      />
    </div>
  </div>
</header>
